<!DOCTYPE html>
<html lang='en'>

<head>
	<meta charset='UTF-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	<title>Mystery Prize</title>
	<link href='style.css' rel='stylesheet'>
	<link href="https://fonts.googleapis.com/css2?family=Timmana&display=swap" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>	
</head>

<body>
	<div class='container'>
		<h1 class='title'>Mystery Prize</h1>
		<div class='game'>				
			<form id='form'>
				<div class='choices'>
					<div class='choiceContainer'>
						<div id='radios'>
							<div class='radioGroup'>
								<div class='image'><img id='imageOne' src=''></div>
								<input type='radio' id='optionOne' name='prize' value='optionOne' checked>
								<!-- <label for='optionOne'>Option One?</label> -->
							</div>
							<div class='radioGroup'>
								<div class='image'><img id='imageTwo' src=''></div>
								<input type='radio' id='optionTwo' name='prize' value='optionTwo'>
								<!-- <label for='optionTwo'>Option Two?</label> -->
							</div>
							<div class='radioGroup'>
								<div class='image'><img id='imageThree' src=''></div>
								<input type='radio' id='optionThree' name='prize' value='optionThree'>
								<!-- <label for='optionThree'>Option Three?</label> -->
							</div>
							
						</div>
					</div>					
				</div>			

				<div class='submit'>
					<input id='nameInput' type='text' name='name' placeholder='Add your name to see your prize!'></input>
					<button type='button' id='submitButton'>Submit</button>
					<button type='button' id='playAgain' onClick='window.location.reload()'>Play Again</button>
				</div>
			</form>
		</div>
		<div>
			<div class='winners'>
				<h2>Past Winners</h2>
				<ul id='winnersList'>
					<% results.forEach(function(r) { %>
						<li><%= r.name %> won a <%= r.prize %>!</li>
					<% }); %>
				</ul>
			</div>
		</div>
</div>
	
	<script src='/script.js'></script>
</body>

</html>